@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

body {
  font-family: "Roboto";
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 80px 50px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero,
.footer {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.right-link a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 8px;
}

.container1 p {
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 600;
}

.container1 {
  width: 400px;
  gap: 100px;
}

.placeholder {
  width: 500px;
  height: 200px;
  background-color: gray;
  color: #f9faf8;
  margin-left: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 80px;
}
